<!DOCTYPE html>
<html>
    <title>Login page</title>
    <style>
        {
            text-align: center;
            font-size: large;
        }
    </style>
    <body>
        <h1 style="text-align: center;">Login Page</h1>
        <form action="/submit" method="post">
            <label for="fname">Enter first name:</label><br>
            <input type="text" name="fname"><br><br>
            <label for="lname">Enter last name:</label><br>
            <input type="text" name="lname"><br><br>
            <label for="age">Enter Age:</label><br>
            <input type="number" name="age"><br><br>
            <label for="phno">Enter Phone no:</label><br>
            <input type="number" name="phno"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>



